.idea/*

target/
*.iml
knappsack-integration-tests/knappsackdb.log
knappsack-integration-tests/knappsackdb.properties
knappsack-integration-tests/knappsackdb.script
knappsackdb.properties
knappsackdb.script
knappsackdb.log
AwsCredentials.properties
dependency-reduced-pom.xml
knappsack-resigner/ipasign.sh
knappsack-resigner/ipasign_wrapper.sh
knappsack-resigner/log4j.properties
knappsack-resigner/test-msg.json
knappsack-integration-tests/createDDL.jdbc
knappsack-integration-tests/dropDDL.jdbc
./**/.DS_Store
/*.DS_Store
/createDDL.jdbc
/dropDDL.jdbc
/maintenance/
/.project
/.settings
/.settings
/.settings/.jsdtscope
/.settings/org.eclipse.core.resources.prefs
/.settings/org.eclipse.jdt.core.prefs
/.settings/org.eclipse.m2e.core.prefs
/.settings/org.eclipse.wst.common.component
/.settings/org.eclipse.wst.common.project.facet.core.xml
/.settings/org.eclipse.wst.jsdt.ui.superType.container
/.settings/org.eclipse.wst.jsdt.ui.superType.name
/.settings/org.eclipse.core.resources.prefs
/.settings/org.eclipse.jdt.core.prefs
/.settings/org.eclipse.m2e.core.prefs
